
html, body{ background-attachment: fixed;
    background-position: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: black;
	text-align: left;
	background-color:whitesmoke;
    
}
 
div.logo{
  text-align: center;
  color: black;
  padding: 0.5em;
}
.pages{
  overflow: hidden;
    padding: 2em;
    border: 1px;
    color: black;
    background-color: #c1c4f7;
    text-size-adjust:inherit;
}

#locations{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(7, 7, 7);
  background-color: chocolate;
  size: 10%;
  text-align: left;  
}
.show-events{
  text-align: center;
  color: rgb(247, 44, 44);
  padding: 0.5em;
}

  
  .tabcontent {
    color: black;
    display:block;
    padding: 2%;
    text-align: center;
    size: 10%;
    background-color: #1421d8;
  }
  .tabcontent:hover {
    background-color: yellowgreen;
  }
  
 .img {
        border-radius: 8%;
        width: 200px;
        height: 200px;
      }
.event-item{
        background-color: rgba(171, 181, 236, 0.8);
        text-align:left;
        grid-row: auto;
        padding: 5px;
        font-size: 30px;
      }
      
      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
      }
      .form-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
      }
      .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: rgb(248, 31, 31);
      }
     
    .open-button {
      background-color: rgb(35, 121, 170);
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 280px;
    }
  .subscribe{
    max-width: 100px;
    padding: 10px;
    background-color: rgb(59, 134, 247);
  }